
.gameicon{
  width: 180px;
  height: 280px;


  /*
max-width:23%;
max-height:23%;
*/
  background-color: ghostwhite;
/*  margin-right: 80px;*/

  margin-left: 10px;
  margin-right: 10px;

}

.thumbnail2 img{
  max-width: 60%;
  /*max-height: 180px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail2
{
  display: flex;
  justify-content: center;
  align-items: center;
}



body{
      min-height: 100vh;
}



footer{
  /*
  position: absolute;
    bottom: 0;
    left: 0;
    */
    /*
    width:100%;
    text-align: center;
    padding-top:  20px;
    padding-bottom:  20px;
     margin-top: auto;
     margin-bottom: 0;
*/
width:100%;
text-align: center;
padding-top:  20px;
padding-bottom:  20px;
/*padding-bottom:  100%;*/

/*margin-top: auto;*/
/*position:relative;*/
    position:absolute;
   bottom:0;

}
p{
  text-align: center;
}

a:link {
  color: purple;
}
a:visited{
  color: blue;
}
a:hover   {
  color: purple;
  cursor: pointer;
}

header, footer{
  color: ghostwhite;
  background-color: black;
  /*
  text-align: center;
  padding-top:  20px;
  padding-bottom:  20px;
  */
}

header{
  text-align: center;
  padding-top:  15px;
  padding-bottom:  15px;
}

.thumbnailscontainer
{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.thumbnailscontainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

body{
/*  height: 100vh;*./
  /*height: 100vh;*/

}

/*
main{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*p {
  font-family: sans-serif;
}

body{
  background-color: lightblue;
}

header, footer{
  color: ghostwhite;
  background-color: #AED581;
  text-align: center;
  padding-top:  20px;
  padding-bottom:  20px;
}

button{
  text-align: center;
}

a:link {
  color: purple;
}
a:visited{
  color: blue;
}
a:hover   {
  color: purple;
  cursor: pointer;
}


@media screen and (max-width: 600px) and (min-width: 300px){
  figure, p,  h4, section, .container {
    text-align: center;
    display: block;
  }
  img{
    width:  300px;
    height:  auto;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  figure, p,  h4, section, .container {
    text-align: center;
    display: block;
  }

  img{
    width:  100%;
    height:  auto;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  img{
    width: 200px;
    height:  auto;
  }
  .container{
      display: flex;
    }
}

#music_image{
  border-radius: 8px;
}

#baking_image{
  box-shadow: 0 5px 10px 0 lightslategray, 0 5px 10px 0 lightslategray;
}
*/
